<div class="row">
  <div class="col-2">
    <p><%= ranking_group.rank %></p>
  </div><!-- /.col-3 -->
  <div class="col-8">
    <p><%= ranking_group.name %></p>
  </div><!-- /.col-3 -->
  <div class="col-2">
    <p><%= ranking_group.points.to_i %></p>
  </div><!-- /.col-3 -->
</div><!-- /.row -->