<ol class="breadcrumb">
  <li><%= link_to "My Dashboard", play_dashboard_index_path %></li>
  <li><%= link_to @tournament.name, play_tournament_path(@tournament) %></li>
  <li class="active">Scorecard</li>
</ol>

<%= render partial: '/shared/scorecards/show', locals: {scorecard: @scorecard, split_holes: @split_holes, split_scores: @split_scores, tournament: @tournament} %>