<div class="banner-img fall-classic-img"></div>
<!-- /.banner-img -->
<div class="container pt-100">
  <div class="dashboard-header ttt-header fall-classic-header">
    <div class="row">
      <div class="col-md-6">
        <h2>Scorpion Golf League</h2>           
      </div>
      <!-- /.col-md-8 --> 
      <div class="col-md-6 text-right">
        <ul class="list-inline sgl-header-list">
          <li class="list-inline-item"><span>38</span>golfers</li>
          <li class="list-inline-item"><span>17</span>tournaments</li>
          <li class="list-inline-item"><span>3</span>seasons</li>
        </ul>
      </div>
      <!-- /.col-md-6 --> 
    </div>
    <!-- /.row -->         
  </div>
  <!-- /.dashboard-header --> 
  <div class="container p-0">
    <div class="row">
        <div class="col-md-3">   
          <div class="scorpion-golf-league-green">
              <div class="scorpion-golf-league-green-header">
                  <div class="dropdown">
                    <select class="selectpicker dropup" data-header="">
                      <option>2018 Season</option>
                      <option>2017 Season</option>
                      <option>2016 Season</option>
                    </select>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">2018 Season</a>
                      <a class="dropdown-item" href="#">2017 Season</a>
                    </div>
                  </div>
              </div>
              <div class="scorpion-golf-league-gree-list">
                <div class="row no-gutters">
                  <div class="col-md-6">
                    <p>starts</p>
                    <h2>05/15/18</h2>
                  </div>
                  <div class="col-md-6">
                    <p>ends</p>
                    <h2>12/29/18</h2>
                  </div>
                </div>
              </div>
              <div class="scorpion-golf-league-gree-list">
                <div class="row no-gutters">
                  <div class="col-md-6">
                    <p>dues</p>
                    <h2>$70/pp</h2>
                  </div>
                  <div class="col-md-6">
                    <p>collected</p>
                    <h2>$1960</h2>
                  </div>
                </div>
              </div>
              <div class="scorpion-golf-league-gree-btn text-center">
                <a href="#" class="btn btn-primary">View Tournaments</a>
                <a href="#" class="btn btn-success">Manage Golfers</a>
                <a href="#" class="btn btn-success">Edit Scoring Groups</a>
              </div>
          </div><!-- /.scorpion-golf-league-green -->            
          <div class="list-group sidebar-list-group">
            <a href="#" class="list-group-item list-group-item-action">
              <img src="images/settings.png" alt="">Season Settings
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <img src="images/settings.png" alt="">League Settings
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <img src="images/plus.png" alt="">Create Season
            </a>
          </div><!-- /.sidebar-list-group -->
        </div><!-- /.col-md-3 -->   
        <div class="col-md-9">
            <div class="season-ranking-card">
                <div class="season-ranking-card-header">
                    <div class="row clearfix">
                      <div class="col-md-4">
                        <h2>Season Rankings</h2>
                      </div>
                      <div class="col-md-8">
                        <ul class="list-inline float-right">
                          <li class="list-inline-item"><span>28</span>golfers</li>
                          <li class="list-inline-item"><span>0</span>scoring groups</li>                              
                        </ul>
                      </div>
                    </div>
                </div><!-- /.season-ranking-card-header -->
                <div class="season-ranking-content">
                  <h2>You have no scoring groups yet.</h2>
                  <button class="btn btn-primary">Create Scoring Groups</button>
                </div><!-- /.season-ranking-content -->
            </div>
        </div><!-- /.col-md-8 -->                    
    </div><!-- /.row -->         
  </div>
  <!-- /.container -->
</div>
<!-- /.container --> 