<!DOCTYPE html>
<html>
<head>
  <title>EZ Golf League</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
  <body "data-no-turbolink">
    <div class="container master-container">
      <script>
          javascript:window.print()
      </script>
      
      <% print_cards.each_with_index do |print_card, index| -%>
        <% if index > 0 && index % 2 == 0 -%>
          <h2>&nbsp;</h2>
        <% end -%>
        
        <%= render partial: '/shared/scorecards/standard', locals: {p: print_card[:p], print_mode: true} %>      
      <% end -%>

    </div>
  </body>
</html>