<ol class="breadcrumb">
  <li><%= link_to "Leagues", leagues_path(@league) %></li>
  <li><%= link_to "League Memberships", league_league_memberships_path(@league) %></li>
  <li class="active">Create League Membership</li>
</ol>

<%= render 'form' %>
