<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= tournament_day.pretty_day(true) %>Flights</h3>
  </div>
  <div class="panel-body">
    Your league uses scoring groups instead of handicap-based flights. Be sure to configure your scoring groups before creating your tournaments - flights are automatically managed for your tournament.

    <% if tournament_day.tournament.players_for_day(tournament_day).count > 0 -%>
    <p>
      <%= link_to 'Re-Flight Players', reflight_players_league_tournament_tournament_day_flights_path(tournament.league, tournament, tournament_day), class: 'btn btn-primary', method: :patch %>
    </p>
    <% end -%>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Group Name</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    <% flights.each do |flight| %>
      <tr>
        <td><%= flight.league_season_scoring_group.name %></td>
        <td><%= link_to "Edit Tees", edit_league_tournament_tournament_day_flight_path(tournament.league, tournament, tournament_day, flight) %></td>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </tfoot>
  </table>
</div>