<script>
  ezglTrackAnalyticsEvent("Created a new user account");
  ezglTrackAnalyticsEvent("Viewed existing leagues during registration");
</script>

<div id="container">
	<div class="row">
    <div class="onboarding__panel registration">
      <div class="onboarding__panel-side">
        <%= link_to image_tag("ezgl-icon-white.png", class: 'ezgl-icon'), user_session_path %>
				<div class="panel-side-text">
					<h3 class="panel-title pb-1">Choose a League</h3>
					<p class="panel-subtitle pb-4">Choose your league or add your<br>own league and get started.</p>
				</div>
      </div>
      <div class="panel panel-default p-5">
        <div class="panel-heading">
          <h3 class="panel-title pb-4">Choose a League</h3>
        </div>
        <div class="panel-body registration">
          <div class="league-selection">
            <div class="league-selection-dropdown pb-4">
              <%= select_tag('league', options_from_collection_for_select(@leagues, 'id', 'name')) %>
            </div>
            <div class="league-selection-register pb-5">
              <%= link_to "Join This League", join_league_play_registrations_path, class: "btn__ezgl-secondary join-league-btn" %>
            </div>
          </div>
          <hr>
          <div class="create-league">
            <div>
              <p class="pb-2">Want to add your own league?</p>
              <%= link_to "Add Your League", new_league_play_registrations_path, class: "btn__ezgl-secondary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>

<script>
  $('.selectize-control').remove();
  var $league_selector = $('#league').selectize({
      valueField: 'id',
      labelField: 'name',
      searchField: 'name',
      maxItems: '1',
      placeholder: 'Search for your league...',
      create: false,
      render: {
            option: function (item, escape) {
                return '<div>' + escape(item.name) + '</div>';
            }
      },
      onChange: function(value) {
            $('.join-league-btn').attr("href", "/play/registrations/join_league?league_id=" + value);
      }
  });
</script>