<script>
  ezglTrackAnalyticsEvent('viewed a page', { name: 'User Creation Form' });
</script>

<div id="container">
	<div class="row">
    <div class="onboarding__panel registration">
      <div class="onboarding__panel-side">
        <%= link_to image_tag("ezgl-icon-white.png", class: 'ezgl-icon'), user_session_path %>
				<div class="panel-side-text">
					<h3 class="panel-title pb-1">Welcome!</h3>
					<p class="panel-subtitle pb-4">Sign up for EZ Golf League.<br>Join a league or add your own.</p>
				</div>
      </div>
      <div class="panel panel-default p-5">
        <div class="panel-heading">
          <h3 class="panel-title pb-4">Create Account</h3>
        </div>
        <div class="panel-body registration">
					<%= render 'form' %>
        </div>
      </div>
    </div>
	</div>
</div>

