<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Thanks!</h3>
      </div>
      <div class="panel-body">
        <p>Setup has been completed. Click below to login to your new account.</p>

        <p><%= link_to "Login Now", play_dashboard_index_path %></p>
      </div>
    </div>
  </div>
</div>
