<ol class="breadcrumb">
  <li><%= link_to "Tournament Notifications", league_tournament_tournament_notifications_path(@tournament.league, @tournament) %></li>
  <li class="active">Create Notification</li>
</ol>

<%= render 'form' %>
