<script>
  mixpanel.track("Admin: Display Subscription Offerings");
  amplitude.getInstance().logEvent("Admin: Display Subscription Offerings");
</script>

<style>
  .panel-strongborder {
    border-width: 3px;
    background-color: #FCF7F2;
  }

  .panel-greenborder {
    border-color: #4EAD49;
  }

  .panel-brownborder {
    border-color: #FFA900;
  }
</style>

<div class="container text-center">
  <div class="row">
    <h1>How much does EZ Golf League cost?</h1>
    <p class="lead">Using EZ Golf League is the best way to make sure all of your league operations run smoothly.</p>
    <p class="lead">Save <mark>hours per month</mark> that you previously spent with spreadsheets or inferior software. Plus, your golfers will <mark>love</mark> the quick access to scores and standings!</p>
  </div>

  <div class="row">
    <div class="panel panel-success panel-strongborder panel-greenborder">
      <div class="panel-body">
        <h2><strong>Just $5 per golfer</strong></h2>
        <h4>Includes unlimited use of our apps for iOS and Android and powerful Web tools to manage your league</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" style="padding-left:0;">
      <div class="panel panel-warning panel-strongborder panel-brownborder">
        <div class="panel-body">
          <h3><strong>Start Free</strong></h3>
          <h4>Your first two tournaments are completely free!</h4>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="padding-right:0;">
      <div class="panel panel-warning panel-strongborder panel-brownborder">
        <div class="panel-body">
          <h3><strong>Need extra assistance?</strong></h3>
          <h4>We can accomodate leagues of any size</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row">&nbsp;</div>

  <div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
      <h2>Common Questions</h2>
      <div class="text-left">
        <p><strong>Do you have smartphone apps?</strong></p>
        <p>Yes, we have apps for both iOS and Android available in the <a href="https://itunes.apple.com/us/app/ez-golf-league/id1088689756?mt=8">App Store</a> and <a href="https://play.google.com/store/apps/details?id=com.ezgolfleague.golfapp&hl=en">Google Play</a>.</p>

        <p><strong>What features can I use from my phone?</strong></p>
        <p>Our apps allow you to score tournaments and view your standings. On iOS, you're also able to register for upcoming tournaments - coming soon on Android.</p>

        <p><strong>I've got a lot of golfers in my league but many of them don't play each year. Will I have to pay for them?</strong></p>
        <p>You are only billed for 'active' golfers, i.e. those that participate in tournaments. You can change which golfers are active at any time.</p>
<!-- 
        <p><strong>I have 13 golfers in my league. Do I need to pay for all 13 golfers or are the first 12 free?</strong></p>
        <p>You'd pay for 13 golfers. Our free trial is for leagues with 12 or fewer golfers. Paid plans need to cover all golfers active in the league.</p>
 -->
        <p><strong>How am I billed?</strong></p>
        <p>Via credit card. We accept Visa, Mastercard, American Express and Discover.</p>

        <p><strong>Can I add active golfers later if I need to?</strong></p>
        <p>Yes, absolutely. If you need to add more golfers, the system will provide you with an updated balance.</p>

        <p><strong>What is your refund policy?</strong></p>
        <p>We don't offer refunds. We encourage you to try our free trial before signing up to get a feel for how the system works.</p>

        <p><strong>Which game types do you support?</strong></p>
        <p>We currently support stroke play, scramble, stableford, best ball and various team configurations. If you have a question about a specific game type used in your league, contact us at <a href='mailto:support@ezgolfleague.com?subject=Game%20Type%20Question'>support@ezgolfleague.com</a>. We are adding game types all the time and would love to hear from you!</p>
      </div>
    </div>
    <div class="col-md-2">&nbsp;</div>
  </div>
</div>
