<script>
  mixpanel.track("Admin: Display New Subscription Form");
  amplitude.getInstance().logEvent("Admin: Display New Subscription Form");
</script>

<style>
  .table > tbody > tr:first-child > td {
    border: none;
  }
</style>

<div class="col-md-12">
  <div class="row">
    <h1>Setup Your Subscription</h1>
  </div>
</div>

<div class="col-md-12">&nbsp;</div>

<%= simple_form_for :payment, url: league_subscription_credits_path(@league), method: :post, :html => {id: "payment-form"} do |f| %>
<div class="col-md-12">
  <div class="row">
    <p>EZ Golf League billing is based on the number of active golfers in your league.</p>

    <p>An 'active golfer' is one that plays in tournaments. You can have an unlimited number of inactive golfers and change which are active easily.</p>
  </div>

  <div class="row">&nbsp;</div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Golfer and Tournament Information</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tbody>
            <tr>
              <td>How many active golfers do you have in your league?</td>
              <td class="text-right"><input type="number" name="active_golfers" value="15" id="active_golfers"></td>
            </tr>
<!--             <tr>
              <td>How many tournaments do you want to play?</td>
              <td class="text-right"><input type="number" name="tournaments_per_season" value="10" id="tournaments_per_season"></td>
            </tr> -->
            <tr>
              <td><strong>Total Cost</strong> <span id="cost_details"></span></td>
              <td class="text-right" id="total_cost">XX</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row" id="payment_info_row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Your Payment Information</h3>
      </div>
      <div class="panel-body">
        <div class="panel-body">
          <span class="payment-errors" style="color: red;"></span>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td>Card Number</td>
              <td><input type="text" size="20" data-stripe="number"/></td>
            </tr>
            <tr>
              <td>Expiration (MM/YYYY)</td>
              <td><input type="text" size="2" data-stripe="exp-month"/> <input type="text" size="4" data-stripe="exp-year"/></td>
            </tr>
            <tr>
              <td>CVC</td>
              <td><input type="text" size="4" data-stripe="cvc"/></td>
            </tr>
          </tbody>
        </table>
        <div class="panel-footer">
          <p>All transactions are covered under our <a href='/terms_of_service.html' target="_new">terms of service.</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-success btn-lg btn-block" id="submit_button">
        <strong><span id="payment_button_text">Submit &amp; Pay $xx</span></strong>
      </button>
    </div>
    <div class="col-md-3">&nbsp;</div>
  </div>
</div>
<% end %>

<div class="col-md-12">&nbsp;</div>
<div class="col-md-12">&nbsp;</div>

<script>
  jQuery(function($) {
    addStripeBinding();
  });

  function addStripeBinding() {
    $('#payment-form').submit(function(event) {
      var $form = $(this);

      // Disable the submit button to prevent repeated clicks
      $form.find('submit_button').prop('disabled', true);

      Stripe.card.createToken($form, stripeResponseHandler);

      // Prevent the form from submitting with the default action
      return false;
    });
  };

  function removeStripeBinding() {
    $( "#payment-form").unbind("submit");
  };

  function stripeResponseHandler(status, response) {
    var $form = $('#payment-form');

    if (response.error) {
      // Show the errors on the form
      $form.find('.payment-errors').text(response.error.message);
      $form.find('submit_button').prop('disabled', false);
    } else {
      // response contains id and card, which contains additional card details
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and submit
      $form.get(0).submit();
    }
  };

  $("#active_golfers").keyup(function() {
    updateCalculatedCost();
  });

  $("#tournaments_per_season").keyup(function() {
    updateCalculatedCost();
  });

  $("#active_golfers").change(function() {
    updateCalculatedCost();
  });

  $("#tournaments_per_season").change(function() {
    updateCalculatedCost();
  });

  function updateCalculatedCost() {
    var golfers = $("#active_golfers").val();
    // var tournaments = $("#tournaments_per_season").val();

    // if (golfers < 13) {
    //   removeStripeBinding();

    //   $("#total_cost").html("FREE");
    //   $("#cost_details").html("");
    //   $("#payment_button_text").html("Continue for Free");

    //   $("#payment_info_row").hide("fast");
    // } else {
      addStripeBinding();

      var cost = 0;
      var costPerGolfer = 0;

      // if (tournaments > 15) {
      //   costPerGolfer = 10;
      // } else {
      //   costPerGolfer = 5;
      // }

      costPerGolfer = 5;

      cost = golfers * costPerGolfer;

      $("#total_cost").html("$" + cost);
      $("#cost_details").html("($"+ costPerGolfer +" per golfer)");
      $("#payment_button_text").html("Submit &amp; Pay $" + cost);

      $("#payment_info_row").show("fast");
    // }
  }

  updateCalculatedCost();
</script>
