<div class="col-md-6">

  <div class="tournament-card raking-content-card">
    <div class="tournament-card__header">
      <h3 class="p-4">Flights</h3>
      <% if @tournament.tournament_state == TournamentState::REGISTRATION %>
        <%= link_to "Edit", "#edit", class: 'btn btn__ezgl-secondary' %>
      <% end %>
    </div>

    <div class="tournament-card__body">
      <table class="table teatime-content-card-table">
        <thead>
          <tr class="text-uppercase">
            <th scope="col" class="pl-4 pr-5">flight #</th>
            <th scope="col">Low</th>
            <th scope="col">High</th>
            <th scope="col">Tee times</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pl-4 pr-5">#1</td>
            <td>68</td>
            <td>74</td>
            <td>Whites</td>
          </tr>

          <tr>
            <td class="pl-4 pr-5">#2</td>
            <td>75</td>
            <td>82</td>
            <td>Whites</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
