<div class="col-md-6">
  <div class="tournament-card raking-content-card">
    <div class="tournament-card__header">
      <h3 class="p-4">Flights</h3>
      <% if @tournament.tournament_state == TournamentState::REGISTRATION %>
        <a href='#' class="btn btn__ezgl-secondary" v-on:click="showFlights">Edit</a>
      <% end %>
    </div>

    <div class="tournament-card__body">
      <table class="table teatime-content-card-table">
        <thead>
          <tr class="text-uppercase">
            <th scope="col" class="pl-4 pr-5">flight #</th>
            <th scope="col">Low</th>
            <th scope="col">High</th>
            <th scope="col">Tees</th>
          </tr>
        </thead>
        <tbody>
          <% @tournament.first_day.flights.each do |f| %>
            <tr>
              <td class="pl-4 pr-5">#<%= f.flight_number %></td>
              <td><%= f.lower_bound %></td>
              <td><%= f.upper_bound %></td>
              <td><%= f.course_tee_box.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
