<div class="col-md-6">
  <div class="tournament-card raking-content-card">
    <div class="tournament-card__header">
      <h3 class="p-4">Game Types</h3>
      <% if @tournament.tournament_state == TournamentState::REGISTRATION %>
        <a href='#' class="btn btn__ezgl-secondary" v-on:click="showScoringRules">Edit</a>
      <% end %>
    </div>

    <div class="tournament-card__body">
      <table class="table teatime-content-card-table">
        <thead>
          <tr class="text-uppercase">
            <th scope="col" class="pl-4 pr-5">game</th>
            <th scope="col"># of Players</th>
            <th scope="col">Dues</th>
            <th scope="col">Optional</th>
            <th scope="col">Tie Breakers</th>
          </tr>
        </thead>
        <tbody>
          <% @tournament.first_day.scoring_rules.each do |rule| %>
            <tr>
              <td class="pl-4 pr-5"><%= rule.name %></td>
              <td><%= rule.users.count %></td>
              <td><%= number_to_currency(rule.dues_amount) %></td>
              <td><%= human_boolean(rule.is_opt_in) %></td>
              <td>-</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
