<div class="col-md-6">

  <div class="tournament-card raking-content-card">
    <div class="tournament-card__header">
      <h3 class="p-4">Game Types</h3>
      <% if @tournament.tournament_state == TournamentState::REGISTRATION %>
        <%= link_to "Edit", "#edit", class: 'btn btn__ezgl-secondary' %>
      <% end %>
    </div>

    <div class="tournament-card__body">
      <table class="table teatime-content-card-table">
        <thead>
          <tr class="text-uppercase">
            <th scope="col" class="pl-4 pr-5">game</th>
            <th scope="col"># of Players</th>
            <th scope="col">Dues</th>
            <th scope="col">Optional</th>
            <th scope="col">Tie Breakers</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pl-4 pr-5">Skins</td>
            <td>4</td>
            <td>$20</td>
            <td>Yes</td>
            <td>No</td>
          </tr>

          <tr>
            <td class="pl-4 pr-5">Scramble</td>
            <td>4</td>
            <td>$40</td>
            <td>No</td>
            <td>No</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
