<h3>Holes and Game Info</h3>
<div class="well">
  <%= f.association :course_holes, collection: tournament.course.course_holes, :label => 'Which holes are included?', :label_method => :name, as: :check_boxes %>
</div>