<h3><%= tournament_day.pretty_day(true) %>Course Holes</h3>
<div class="well">
  <%= p.association :course_holes, collection: tournament_day.course.course_holes, label: 'Which holes are included?', :label_method => :name, as: :check_boxes %>
</div>