<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= title %></h3>
    </div>
    <table class="table table-striped">
    	<thead>
    		<tr>
          <th>Name</th>
    			<th>League</th>
          <th>Course</th>
          <th>Date</th>
          <th>Signup</th>
          <th>Players</th>
          <th>Playable?</th>
          <th>Manage</th>
          <th><% if show_create == true -%><%= link_to 'Create Tournament', new_league_tournament_path(current_user.selected_league), class: 'btn btn-primary' %><% else -%>&nbsp;<% end -%></th>
    		</tr>
    	</thead>
    	<tbody>
    	<% tournaments.each do |tournament| %>
        <% if current_user.is_super_user || tournament.league.membership_for_user(current_user)&.is_admin %>
          <% cache [tournament, current_user] do %>
            <%= render tournament %>
          <% end %>
        <% end %>
    	<% end %>
    	</tbody>
      <tfoot>
    		<tr>
    			<th>&nbsp;</th>
          <th>&nbsp;</th>
    			<th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th><% if show_create == true -%><%= link_to 'Create Tournament', new_league_tournament_path(current_user.selected_league), class: 'btn btn-primary' %><% else -%>&nbsp;<% end -%></th>
    		</tr>
      </tfoot>
    </table>
  </div>
</div>
