<div class="modal-dialog modal-dialog-centered modal-md" role="document">
  <div class="modal-content">
    <div class="modal-body p-5">
      <div class="pb-3">
        <h3>Send Message to Players</h3>
      </div>

      <div class="messagePlayer-form">
        <input type="text" placeholder="Write a subject..." class="message-subject"></input>
        <textarea placeholder="Write a message..." class="message-content"></textarea>
      </div>
    </div>

    <div class="modal-footer">
      <%= link_to "Save", "#save", class: 'btn btn__ezgl-secondary' %>
    </div>
  </div>
</div>