<div class="sidebar-slider-card">
  <% if tournament.tournament_state == TournamentState::REGISTRATION %>
    <h2 class="text-uppercase">registration open</h2>
    <p>Your tournament is upcoming. Tournament starts in 5D:8H:4M</p>
    <a href="#edit-tee-times" class="btn btn-primary popup-with-zoom-anim">Edit Tee Times</a>  
    <a href="#" class="btn btn-success">Add Players</a>
    <ul class="list-inline">
      <li class="list-inline-item active"><a href="#">1</a></li>
      <li class="list-inline-item"><a href="#">2</a></li>
      <li class="list-inline-item"><a href="#">3</a></li>
      <li class="list-inline-item"><a href="#">4</a></li>
      <li class="list-inline-item"><a href="#">5</a></li>
      <li class="list-inline-item"><a href="#">6</a></li>
    </ul>
  <% else %>
    <!-- More states will go here -->
  <% end %>
</div>