<div class="container p-0 mb-5">
  <div class="row">
    <div class="col-md-12">

      <div class="tournament-card">
        <div class="tournament-card__header">
          <h3 class="p-4">Tournament Details</h3>
          <% if @tournament.tournament_state == TournamentState::REGISTRATION %>
            <%= link_to "Edit", "#edit", class: 'btn btn__ezgl-secondary' %>
          <% end %>
        </div>

        <div class="tournament-card__body">
          <div class="row">
            <div class="col-md-3">
              <div class="tournament-card__content p-4">
                <div class="left">
                  <p>Course:</p>
                </div>
                <div class="right">
                  <p>GLEN OAKS CLUB</p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="tournament-card__content p-4">
                <div class="left">
                  <p>Sign Up Start:</p>
                </div>
                <div class="right">
                  <p>9/1/19</p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="tournament-card__content p-4">
                <div class="left">
                  <p>Dues?</p>
                </div>
                <div class="right">
                  <p>yes</p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="tournament-card__content p-4">
                <div class="left">
                  <p>show $ payouts?</p>
                </div>
                <div class="right">
                  <p>yes</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="tournament-card__content p-4">
                <div class="left">
                  <p>Date:</p>
                </div>
                <div class="right">
                  <p>12/9/19, 8am</p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="tournament-card__content p-4">
                <div class="left">
                  <p>Sign Up End:</p>
                </div>
                <div class="right">
                  <p>9/5/19</p>
                </div>
              </div>
            </div>
            
            <div class="col-md-3">
              <div class="tournament-card__content p-4">
                <div class="left">
                  <p>tee time splits:</p>
                </div>
                <div class="right">
                  <p>10 min</p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="tournament-card__content p-4">
                <div class="left">
                  <p>Scoring Until Finalized?</p>
                </div>
                <div class="right">
                  <p>No</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>