<div class="banner-img tournaments-banner-img"></div>
<!-- /.banner-img -->
<div class="container">
  <div class="dashboard-header ttt-header">
    <div class="row">
      <div class="col-md-8">
        <h2>Tournaments</h2>
<!--         <p class="mid-ttt-para text-uppercase"><strong>17</strong>tournaments</p>
        <p class="text-uppercase"><strong>9</strong>tournaments this season</p> -->
      </div>
      <!-- /.col-md-8 --> 
      <div class="col-md-4 text-right">
        <%= link_to "Create Tournament", new_league_tournament_path(current_user.selected_league), class: 'btn btn-primary' %>
      </div>
      <!-- /.col-md-6 --> 
    </div>
    <!-- /.row -->         
  </div>
  <!-- /.dashboard-header --> 
  <div class="container">
    <div class="row search-view-list">
      <div class="col-md-6">
        <div class="left-search">
          <h2>Tournaments</h2>
          <input class="form-control" type="text" placeholder="Search...">
        </div>
      </div>
      <div class="col-md-6">
        <div class="section-sort text-right">
          <h2>Sort</h2>
          <select class="custom-select">
            <option selected>Latest</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-light view-list-1 active"></button>
            <button type="button" class="btn btn-light view-list-2"></button>                
            <button type="button" class="btn btn-light view-list-3"></button>
          </div>
        </div>
      </div>
    </div>

    <% if @upcoming_tournaments.count > 0 %>
    <section class="upcoming">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-style">
            <h2 class="text-uppercase">upcoming</h2>
          </div>
        </div>
      </div>
      <div class="tournaments-card-slider-list">
        <% @upcoming_tournaments.each_slice(3).each do |slice| %>
          <div class="row mb-5">
            <% slice.each do |tournament| %>
              <% cache [slice] do %>
                <%= render partial: 'tournament_card', locals: { tournament: tournament } %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <!-- /.tournaments-card-slider-list -->
    </section>
    <% end %>

    <!-- /.upcoming -->
    <section class="upcoming">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-style">
            <h2 class="text-uppercase">completed</h2>
          </div>
        </div>
      </div>
      <!-- /.row -->
      <div class="tournaments-card-slider-list">
        <div class="row mb-5">
          <div class="col-md-4">
            <div class="tournaments-card-slider">
              <div class="owl-carousel owl-theme">
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Late Summer Tournament</h2>
                      <img src="silder/1.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Late Summer Tournament</h2>
                      <img src="silder/2.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Late Summer Tournament</h2>
                      <img src="silder/3.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Late Summer Tournament</h2>
                      <img src="silder/4.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Late Summer Tournament</h2>
                      <img src="silder/5.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Late Summer Tournament</h2>
                      <img src="silder/6.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->                        
              </div>
              <!-- /.owl-carousel -->
              <div class="regis-open">
                <p class="text-uppercase text-right">registration open</p>
              </div>
              <div class="tournaments-card-footer">
                <div class="row">
                  <div class="col-md-7">
                    <span class="number-text">6</span>
                    <p class="text-uppercase">golfers registered & paid</p>
                  </div>
                  <div class="col-md-5">
                    <ul class="profile-img-list list-inline">
                      <li class="list-inline-item"><img src="images/players/1.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/2.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/3.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/4.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/5.png" alt=""></li>
                      <li class="list-inline-item"><span>+1</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.tournaments-card-slider -->
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-4">
            <div class="tournaments-card-slider">
              <div class="owl-carousel owl-theme">
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Spring Invitational Tournaments</h2>
                      <img src="silder/1.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Spring Invitational Tournaments</h2>
                      <img src="silder/2.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Spring Invitational Tournaments</h2>
                      <img src="silder/3.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Spring Invitational Tournaments</h2>
                      <img src="silder/4.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Spring Invitational Tournaments</h2>
                      <img src="silder/5.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Spring Invitational Tournaments</h2>
                      <img src="silder/6.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->                        
              </div>
              <!-- /.owl-carousel -->
              <div class="regis-open">
                <p class="text-uppercase text-right">registration open</p>
              </div>
              <div class="tournaments-card-footer">
                <div class="row">
                  <div class="col-md-7">
                    <span class="number-text">6</span>
                    <p class="text-uppercase">golfers registered & paid</p>
                  </div>
                  <div class="col-md-5">
                    <ul class="profile-img-list list-inline">
                      <li class="list-inline-item"><img src="images/players/1.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/2.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/3.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/4.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/5.png" alt=""></li>
                      <li class="list-inline-item"><span>+1</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.tournaments-card-slider -->
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-4">
            <div class="tournaments-card-slider">
              <div class="owl-carousel owl-theme">
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>February Tournament</h2>
                      <img src="silder/1.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>February Tournament</h2>
                      <img src="silder/2.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>February Tournament</h2>
                      <img src="silder/4.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>February Tournament</h2>
                      <img src="silder/5.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>February Tournament</h2>
                      <img src="silder/6.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>February Tournament</h2>
                      <img src="silder/6.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->                        
              </div>
              <!-- /.owl-carousel -->
              <div class="regis-open">
                <p class="text-uppercase text-right">registration open</p>
              </div>
              <div class="tournaments-card-footer">
                <div class="row">
                  <div class="col-md-7">
                    <span class="number-text">6</span>
                    <p class="text-uppercase">golfers registered & paid</p>
                  </div>
                  <div class="col-md-5">
                    <ul class="profile-img-list list-inline">
                      <li class="list-inline-item"><img src="images/players/1.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/2.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/3.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/4.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/5.png" alt=""></li>
                      <li class="list-inline-item"><span>+1</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.tournaments-card-slider -->
          </div>
          <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <div class="row mb-5">
          <div class="col-md-4">
            <div class="tournaments-card-slider">
              <div class="owl-carousel owl-theme">
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Late Summer Tournament</h2>
                      <img src="silder/1.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Late Summer Tournament</h2>
                      <img src="silder/2.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Late Summer Tournament</h2>
                      <img src="silder/3.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Late Summer Tournament</h2>
                      <img src="silder/4.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Late Summer Tournament</h2>
                      <img src="silder/5.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Late Summer Tournament</h2>
                      <img src="silder/6.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->                        
              </div>
              <!-- /.owl-carousel -->
              <div class="regis-open">
                <p class="text-uppercase text-right">registration open</p>
              </div>
              <div class="tournaments-card-footer">
                <div class="row">
                  <div class="col-md-7">
                    <span class="number-text">6</span>
                    <p class="text-uppercase">golfers registered & paid</p>
                  </div>
                  <div class="col-md-5">
                    <ul class="profile-img-list list-inline">
                      <li class="list-inline-item"><img src="images/players/1.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/2.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/3.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/4.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/5.png" alt=""></li>
                      <li class="list-inline-item"><span>+1</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.tournaments-card-slider -->
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-4">
            <div class="tournaments-card-slider">
              <div class="owl-carousel owl-theme">
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Spring Invitational Tournaments</h2>
                      <img src="silder/1.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Spring Invitational Tournaments</h2>
                      <img src="silder/2.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Spring Invitational Tournaments</h2>
                      <img src="silder/3.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Spring Invitational Tournaments</h2>
                      <img src="silder/4.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Spring Invitational Tournaments</h2>
                      <img src="silder/5.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>Spring Invitational Tournaments</h2>
                      <img src="silder/6.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->                        
              </div>
              <!-- /.owl-carousel -->
              <div class="regis-open">
                <p class="text-uppercase text-right">registration open</p>
              </div>
              <div class="tournaments-card-footer">
                <div class="row">
                  <div class="col-md-7">
                    <span class="number-text">6</span>
                    <p class="text-uppercase">golfers registered & paid</p>
                  </div>
                  <div class="col-md-5">
                    <ul class="profile-img-list list-inline">
                      <li class="list-inline-item"><img src="images/players/1.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/2.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/3.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/4.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/5.png" alt=""></li>
                      <li class="list-inline-item"><span>+1</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.tournaments-card-slider -->
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-4">
            <div class="tournaments-card-slider">
              <div class="owl-carousel owl-theme">
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>February Tournament</h2>
                      <img src="silder/1.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>February Tournament</h2>
                      <img src="silder/2.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>February Tournament</h2>
                      <img src="silder/4.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>February Tournament</h2>
                      <img src="silder/5.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>February Tournament</h2>
                      <img src="silder/6.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->
                <div class="item">
                  <a href="#">
                    <div class="tournaments-card-slider-top">
                      <div class="overlay"></div>
                      <p class="text-uppercase para-1">december 18th, 2018</p>
                      <p class="text-uppercase para-2">brunswick golf club</p>
                      <h2>February Tournament</h2>
                      <img src="silder/6.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- /.item -->                        
              </div>
              <!-- /.owl-carousel -->
              <div class="regis-open">
                <p class="text-uppercase text-right">registration open</p>
              </div>
              <div class="tournaments-card-footer">
                <div class="row">
                  <div class="col-md-7">
                    <span class="number-text">6</span>
                    <p class="text-uppercase">golfers registered & paid</p>
                  </div>
                  <div class="col-md-5">
                    <ul class="profile-img-list list-inline">
                      <li class="list-inline-item"><img src="images/players/1.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/2.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/3.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/4.png" alt=""></li>
                      <li class="list-inline-item"><img src="images/players/5.png" alt=""></li>
                      <li class="list-inline-item"><span>+1</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.tournaments-card-slider -->
          </div>
          <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        
      </div>
      <!-- /.tournaments-card-slider-list -->
    </section>

    <%= link_to_prev_page @past_tournaments, '← Previous Page', class: 'btn btn-default' %>
    <%= link_to_next_page @past_tournaments, 'Next Page →', class: 'btn btn-default' %>

    <!-- /.upcoming -->
  </div>
</div>