<% content_for :head do -%>
  <%= javascript_pack_tag 'tournament_wizard' %>
<% end -%>

<link rel="stylesheet" href="https://unpkg.com/bs-stepper/dist/css/bs-stepper.min.css">
<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
<script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>

<% props = {
    league: @league
  }.to_json
%>

<div id="tournament-wizard" data="<%= props %>" class="create-tournament-page">
  <div class="container pt-150 pb-100">
    <div class="cat-card">
        <div id="stepper1" class="bs-stepper">
          <div class="bs-stepper-header" role="tablist">
            <div class="step" data-target="#test-l-1">
              <button type="button" class="btn btn-link step-trigger" role="tab" id="stepper1trigger1" aria-controls="test-l-1">
                <span class="bs-stepper-circle">1</span>                  
              </button>
            </div>
            <div class="line"></div>
            <div class="step step-2-dot hidden" id="step-2-dot" data-target="#test-l-2">
              <button type="button" class="btn btn-link step-trigger" role="tab" id="stepper1trigger2" aria-controls="test-l-2">
                <span class="bs-stepper-circle">2</span>                 
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-3">
              <button type="button" class="btn btn-link step-trigger" role="tab" id="stepper1trigger3" aria-controls="test-l-3">
                <span class="bs-stepper-circle">3</span>                 
              </button>
            </div>
          </div>

          <div class="bs-stepper-content">
            <form onSubmit="return false">
              <div id="test-l-1" role="tabpanel" class="content" aria-labelledby="stepper1trigger1">
                <div class="step-1-content">
                  <h2>Create a Tournament</h2>
                  <p>This is simple process to make your tournament.</p>
                  <div class="step-1-content-form">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-4 text-right">
                          <label>Tournament Name</label>
                        </div>
                          <div class="col-md-5">
                            <div class="string required tournament_name">
                              <input label="false" required="required" aria-required="true" placeholder="Choose a name..." type="text" id="name" class="form-control string required form-control" v-model="tournamentWizard.name">
                            </div>
                        </div>
                      </div>
                    </div> 
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-4 text-right">
  												<label>Tournament Date</label>
                        </div>
                          <div class="col-md-5">
                            <div class="date-inputs" style="padding-right:24px;">
  														<div class="row">
  															<div class="col-12">
                                  <date-picker v-model="tournamentWizard.startsAt"></date-picker>
  															</div>
  														</div>
                            </div>
                        </div>
                      </div>
                    </div> 
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-4 text-right">
  												<label>Registration Dates</label>
                        </div>
                          <div class="col-md-5">
                            <div class="date-inputs">
  														<div class="row">
  															<div class="col-md-6">
                                  <date-picker v-model="tournamentWizard.opensAt"></date-picker>
  															</div>
  															<div class="col-md-6" style="padding-right: 40px;">
                                  <date-picker v-model="tournamentWizard.closesAt"></date-picker>
  															</div>
  														</div>
                            </div>
                        </div>
                      </div>
                    </div> 

                    <div class="form-group">
                        <div class="row">
                          <div class="col-md-4 text-right">
                            <label>Golf Course</label>
                          </div>
                          <div class="col-md-5" style="margin-left: 20px;">
                            <multiselect v-model="tournamentWizard.course" id="ajax" label="name" track-by="id" placeholder="Type to search for a course by name or location" open-direction="bottom" :options="filteredCourses" :searchable="true" :loading="isLoading" :internal-search="false" :options-limit="300" :limit="3" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="searchCourses" @select="courseSelected">
                              <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
                              <span slot="noResult">No courses matched your query.</span>
                            </multiselect>
                          </div>
                        </div>
                    </div> 

                    <div class="form-group" style="margin-bottom:15px;">
                      <div class="row">
                        <div class="col-md-4 text-right">
                          <label>Number of Players</label>
                        </div>
                          <div class="col-md-5">
                            <div style="padding-right:24px;">
                              <div class="row">
                                <div class="col-12">
                                  <div class="form-group string required">
                                    <input label="false" required="required" aria-required="true" placeholder="How Many People Can Register?" type="text" id="name" style="width: 80px;" class="form-control string required form-control" v-model="tournamentWizard.numberOfPlayers">
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div> 

                    <div class="form-group">
                        <div class="row">
                          <div class="col-md-4 text-right">
                            <label>Allow Players to Enter<br>Scores Until Finalized</label>
                          </div>
                          <div class="col-md-5 text-left" style="margin-left: 20px;">
                            <toggle-button id="enter-scores-until-finalized" v-model="tournamentWizard.enterScoresUntilFinalized"/>
                          </div>
                        </div>
                    </div> 

                    <div class="form-group">
                        <div class="row">
                          <div class="col-md-4 text-right">
                            <label>Players Should<br>See Tee-Times</label>
                          </div>
                          <div class="col-md-5 text-left" style="margin-left: 20px;">
                            <toggle-button id="show-tee-times" v-model="tournamentWizard.showTeeTimes"/>
                          </div>
                        </div>
                    </div> 

                    <div class="form-group">
                        <div class="row">
                          <div class="col-md-4 text-right">
                            <label>Separate Golfers<br>into Flights</label>
                          </div>
                          <div class="col-md-5 text-left" style="margin-left: 20px;">
                            <toggle-button id="show-flights" v-model="showFlights" @change="toggleFlights"/>
                          </div>
                        </div>
                    </div> 
                  </div>            
                </div><!-- /.step-1-content -->
                <div class="cat-card-footer">                     
                    <button type="button" class="btn btn-outline-secondary" v-on:click="cancelWizard">Cancel</button>
                    <button class="btn btn__ezgl-secondary" v-on:click="nextStage" :disabled="$v.tournamentWizard.$invalid">Next</button>
                </div>
              </div>

              <div id="test-l-2" role="tabpanel" class="content" aria-labelledby="stepper1trigger2">
                <div class="step-1-content">
                  <h2 class="text-center">Flights</h2>
                  <p>Manually add flights below.</p>
                  <div class="step-1-content-form">
                    <div v-for="flight in tournamentWizard.flights" :key="flight.id">
                      <div class="row">
                        <div class="col-md-4 text-right">
                          <label>Flight #{{ flight.flightNumber }}</label>
                        </div>
                        <div class="col-md-5 tee-times-inputs">
                          <div class="pr-4">
                            <div class="form-group string required flight_lowest_handicap">
                              <input label="false" required="required" aria-required="true" placeholder="Lowest HDCP" type="text" id="flight-lowest-handicap" name="Low Handicap" class="form-control string required form-control" v-model="flight.lowHandicap">
                            </div>
                          </div>
                          <div class="pr-4">
                            <div class="form-group string required flight_highest_handicap">
                              <input label="false" required="required" aria-required="true" placeholder="Highest HDCP" type="text" id="flight-highest-handicap" name="High Handicap" class="form-control string required form-control" v-model="flight.highHandicap">
                            </div>
                          </div>
                          <div class="pr-4">
                            <multiselect v-model="flight.teeBox" track-by="name" label="name" placeholder="Select" :options="courseTeeBoxes" :searchable="false" :allow-empty="false"></multiselect>
                          </div>
                        </div>
                      </div>
                    </div> 
                    <div class="btn btn__ezgl-secondary addMoreFlight1" v-on:click="newFlight">Add More</div>
                  </div> 
                </div>
                <div class="cat-card-footer">
                  <button class="btn btn-outline-secondary" v-on:click="lastStage">Previous</button>
                  <button class="btn btn__ezgl-secondary" v-on:click="nextStage">Next</button>
                </div>                  
              </div>

              <div id="test-l-3" role="tabpanel" class="content text-center" aria-labelledby="stepper1trigger3">
                <div class="step-1-content">
                  <h2 class="text-center">Game Types</h2>
                  <p>Add different game types to your tournament.</p>
                  <div class="step-content-game-types">
                    <div class="row" v-for="(ruleGroup, index) in tournamentWizard.scoringRules">
                      <template v-for="rule in ruleGroup">
                        <template v-if="rule.name">
                          <div class="added-game-type">
                            <p>{{ rule.name }}</p>
                            <a href="#" class="btn btn-primary" v-on:click="showPayoutsModal(rule)">Payouts</a>
                          </div>
                        </template>
                        <template v-else>
                          <div class="add-game-type" v-on:click="showGameTypeModal(rule)">
                            <p>+ Add Game</p>
                          </div>
                        </template>
                      </template>
                    </div>
                  </div>
                </div>
                <div class="cat-card-footer">
                  <button class="btn btn-outline-secondary" v-on:click="lastStage">Previous</button>
                  <button class="btn btn__ezgl-secondary" v-on:click="saveTournament" :disabled="!canSubmit">Submit</button>
                </div>                  
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>

  <vue-modal name="scoring-rule" height="auto" clickToClose="false">
    <div class="welcome p-5">
      <div class="p-3">
        <h2 style="font-size:30px;text-align:center;">Add Game</h2>
      </div>
      <div class="step-1-content-form step-1-content">
        <div class="row">
          <div class="col-md-3 text-right vue-label">
            <label>Game Type</label>
          </div>
          <div class="col-md-8">
            <multiselect v-model="selectedScoringRule" :options="scoringRules" :multiple="false" group-values="games" group-label="type" :group-select="false" placeholder="Choose a game type..." track-by="name" label="name" @close="checkScoringRuleIsValid">
              <span slot="noResult">Oops! No game type found...</span>
            </multiselect> 
          </div>
        </div>
      </div>

      <div class="step-1-content-form step-1-content" v-if="selectedScoringRule.customNameAllowed">
        <div class="row">
          <div class="col-md-3 text-right">
            <label>Name</label>
          </div>
          <div class="col-md-8 tee-times-inputs">
            <div>
              <input label="false" type="text" class="form-control string required form-control" v-model="selectedScoringRule.customName">
            </div>
          </div>
        </div>
      </div>

      <div class="step-1-content-form step-1-content pt-2" v-if="selectedScoringRule.showCourseHoles">
        <div class="row">
          <div class="col-md-3 text-right vue-label">
            <label>Holes</label>
          </div>
          <div class="col-md-8 tee-times-inputs">
            <div class="col-md-8 p-0">
              <multiselect v-model="selectedScoringRule.holeConfiguration" :options="selectedScoringRuleHolesOptions" track-by="value" label="name" placeholder="Choose holes..." :searchable="false" @close="checkScoringRuleIsValid">
                <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
              </multiselect>
            </div>
          </div>
        </div>
      </div> 

      <div class="step-1-content-form step-1-content holesCustomOptions" v-if="showCustomHolePicker">
        <div class="row">
          <div class="col-md-3 text-right">
            <label>Holes (Custom)</label>
          </div>
          <div class="col-md-8 pl-5">
            <div class="row pl-5">
              <div>
                <input type="checkbox" value="1" v-model="selectedScoringRule.customHoles"> Hole 1<br>
                <input type="checkbox" value="2" v-model="selectedScoringRule.customHoles"> Hole 2<br>
                <input type="checkbox" value="3" v-model="selectedScoringRule.customHoles"> Hole 3<br>
                <input type="checkbox" value="4" v-model="selectedScoringRule.customHoles"> Hole 4<br>
                <input type="checkbox" value="5" v-model="selectedScoringRule.customHoles"> Hole 5<br>
                <input type="checkbox" value="6" v-model="selectedScoringRule.customHoles"> Hole 6<br>
                <input type="checkbox" value="7" v-model="selectedScoringRule.customHoles"> Hole 7<br>
                <input type="checkbox" value="8" v-model="selectedScoringRule.customHoles"> Hole 8<br>
                <input type="checkbox" value="9" v-model="selectedScoringRule.customHoles"> Hole 9<br>
              </div>
              <div class="pl-5" v-if="showBackNineHoles">
                <input type="checkbox" value="10" v-model="selectedScoringRule.customHoles"> Hole 10<br>
                <input type="checkbox" value="11" v-model="selectedScoringRule.customHoles"> Hole 11<br>
                <input type="checkbox" value="12" v-model="selectedScoringRule.customHoles"> Hole 12<br>
                <input type="checkbox" value="13" v-model="selectedScoringRule.customHoles"> Hole 13<br>
                <input type="checkbox" value="14" v-model="selectedScoringRule.customHoles"> Hole 14<br>
                <input type="checkbox" value="15" v-model="selectedScoringRule.customHoles"> Hole 15<br>
                <input type="checkbox" value="16" v-model="selectedScoringRule.customHoles"> Hole 16<br>
                <input type="checkbox" value="17" v-model="selectedScoringRule.customHoles"> Hole 17<br>
                <input type="checkbox" value="18" v-model="selectedScoringRule.customHoles"> Hole 18<br>
              </div>
            </div>
          </div>
        </div>
      </div>

      <stroke-play-setup v-if="selectedScoringRule.setupComponentName === 'individual_stroke_play'" @nine-hole-tiebreaking-changed="scoringRuleOptionUpdated"/>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" v-on:click="hideGameTypeModal">Cancel</button>
      <button type="button" class="btn__ezgl-secondary" v-on:click="addCurrentScoringRule" :disabled="!scoringRuleValid">Save</button>
    </div>
  </vue-modal>

  <vue-modal name="payouts" height="auto" clickToClose="false">
    <div class="welcome p-5">
      <div class="p-3">
        <h2 style="font-size:30px;">Payouts</h2>
      </div>

      <table class="table">
        <thead>
          <tr class="text-uppercase">
            <th scope="col" class="pl-5 pr-0">Flight</th>
            <th scope="col">Points</th>
            <th scope="col">$</th>
            <th scope="col"><button type="button" class="btn__ezgl-secondary-outline float-right" v-on:click="newPayout(selectedScoringRule)">Add</button></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(payout, index) in selectedScoringRule.payouts">
            <th class="pl-5 pr-0"><multiselect v-model="payout.flight" :options="tournamentWizard.flights" track-by="flightNumber" label="flightNumber" :searchable="false">
                </multiselect></th>
            <td><input label="false" type="text" class="form-control string required form-control" v-model="payout.points"></td>
            <td><input label="false" type="text" class="form-control string required form-control" v-model="payout.payout">
              </div></td>
            <td class="edit-link">
              <button type="button" class="btn btn-default float-right" v-on:click="deletePayout(index, payout.scoringRule.id)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" v-on:click="hidePayoutsModal">Cancel</button>
      <button type="button" class="btn__ezgl-secondary" v-on:click="savePayout">Save</button>
    </div>
  </vue-modal>

  <vue-modal name="save-errors" height="auto">
    <div class="welcome p-5">
      <div class="p-3">
        <h2 style="font-size:30px;">Save Error</h2>
      </div>
      <div class="step-1-content-form step-1-content">
        <div class="row">
          <p>We were unable to save your tournament. Please check your data and re-submit.</p>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" v-on:click="hideErrorModal">OK</button>
    </div>
  </vue-modal>
</div>
