<ol class="breadcrumb">
  <li><%= link_to "My Dashboard", play_dashboard_index_path %></li>
  <li>Payment Error</li>
</ol>

<div class="well well-lg">
  <p>There was an error processing your payment. Please check your card details <a href='#' onclick="history.go(-1);">and try again</a>.</p>
</div>