<script>
  mixpanel.track("User Completed Payment");
</script>

<ol class="breadcrumb">
  <li><%= link_to "My Dashboard", play_dashboard_index_path %></li>
  <li>Thank You For Your Payment</li>
</ol>

<div class="well well-lg">
  <p>Thank you - your payment has been completed sucessfully.</p>
  <p><%= link_to "Return to your dashboard.", play_dashboard_index_path %></p>
</div>
