<table class="table table-striped">
  <thead>
    <tr>
      <th>Day</th>
      <th><%= flight_or_group(@tournament) %></th>
      <th>Name</th>
      <th>Amount</th>
      <th>Points</th>
      <th>Score</th>
      <th>Course Handicap</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "scoring_rule", collection: tournament_day.scoring_rules %>
  </tbody>
  <tfoot>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </tfoot>
</table>