<script>
  ezglTrackAnalyticsEvent("Viewed their user profile");
</script>

<ol class="breadcrumb">
  <li><%= link_to "Dashboard", play_dashboard_index_path %></li>
  <li class="active">My Account</li>
</ol>

<%= render 'form' %>
