<legend>Select a Game Type</legend>

<h3>Basic Details</h3>
<div class="well">  
  <input type="radio" name="group1" value="stroke_play" checked> Stroke Play
</div>

<div class="form-actions">
  <a class="btn btn-default" href="/leagues/<%= @tournament.league.id %>/tournaments/<%= @tournament.id %>/tournament_groups" role="button">Save Game Type</a>
</div>