<ol class="breadcrumb">
  <li><%= link_to "Courses", courses_path %></li>
  <li><%= link_to @course.name, edit_course_path(@course) %></li>
  <li class="active">New Tee Box</li>
</ol>

<%= render 'form' %>