/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";

@import "chosen";

@media print {
  h2 {
    page-break-after: always;
  }

  body {
    font: 14px Arial, Helvetica, "Lucida Grande", serif;
    margin: 0;
    padding: 0;
    line-height: 1em;
    word-spacing: 1px;
    letter-spacing: 0.2px;
  }

  table.print-friendly tr td, table.print-friendly tr th {
    page-break-inside: avoid;
    margin: 4px;
    padding: 4px;
  }
}
