@import "color-palette";

.onboarding {
  display: flex;
  background-image: image-url('course_backgrounds/bg-full.jpg'); 
  background-size: cover;
  background-position: center right;
  min-height: 100vh;
  padding: 0;
  width: 100%;
  align-items: center;

  .alert {
    position: absolute;
    top: 0;
    right: 0;
  }

  .container {
    flex-shrink: 0;
    max-width: 100%;
  }

  #container {
    width: 100%;

    .row {
      margin: 0;
    }
  }

  .onboarding__panel {
    background: ezgl-color('background', 'light');
    border-radius: 4px;
    padding: 0;

    .onboarding__panel-header {
      display: flex;
      background: ezgl-color('primary', 'base');
      justify-content: center;
      align-items: center;
      padding: 10px 0;
      border-radius: 4px 4px 0 0;

      .onboarding__backlink {
        position: absolute;
        color: ezgl-color('background', 'light');
        left: 16px;
        font-size: 12px;

        &:hover {
          color: ezgl-color('background', 'base');
        }
      }
    }

    .panel {

      .panel-title {
        text-align: center;
        font-weight: 400;
      }

      .panel-subtitle {
        text-align: center;
        font-size: 14px;
        color: ezgl-color('accent', 'base');
      }

      .panel-body {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        font-size: 14px;

        &.registration {
          max-width: 700px;

          .create-league {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 150px;
          }
        }
      }

      .onboarding__input, .selectize-input {
        border: 2px solid ezgl-color('background', 'base');
        padding: 12px 16px;
        width: 100%;
        font-style: italic;
        height: 50px;
        border-radius: 3px;

        &.upload-photo {
          width: 150px;
          text-align: center;
          font-size: 1rem;
          color: ezgl-color('accent', 'base');
          cursor: pointer;
          transition: .3s all;

          &:hover {
            color: ezgl-color('accent', 'dark');
          }
        }
      }

      .upload-photo-container {
        width: 100%;
        margin-left: 12px;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
      }

      #upload-photo-img img {
        height: 40px;
        width: auto;
        border-radius: 50%;
        margin-left: 12px; 
      }

      .label_hidden {
        display: none;
      }

      .forgot-password {
        color: ezgl-color('accent', 'light');
        text-decoration: underline;
        font-size: 12px;

        &:hover {
          color: ezgl-color('accent', 'base');
        }
      }

      .actions {
        text-align: center;
        padding-top: 36px;
      }
    }

    .league-selection {
      .selectize-input {
        padding-top: 10px !important;

        .item {
          padding: 4px 8px;
        }
      }

      .selectize-dropdown [data-selectable] {
        font-size: 14px;
        padding: 8px;
      }

      .league-selection-register {
        text-align: center;
      }
    }

    #v-settings {
      .user_wants_email_notifications, .user_wants_push_notifications {
        margin: 0;

        .checkbox {
          display: flex;
        }
        
        label {
          display:  block !important;
          font-size: 1rem;

          input {
            width: auto;
            height: auto;
            margin: 0 8px 8px 0;
          }
        }
      }
    }

    .registration-form-container {
      display: flex;
      flex-wrap: wrap;

      label {
        display: none !important;
      }

      .form-side-label {
        color: ezgl-color('accent', 'base');
        width: 18%;
        text-align: right;
        margin-right: 4px;
      }


      .file {
        display: none;
      }

      .form-flex-group {
        display: flex;
        position: relative;
        width: 100%;
        align-items: center;

        .form-group {
          width: 100%;
          margin-left: 12px;
        }

        .form-flex-right {
          width: 35%;
          display: flex;
          justify-content: flex-end;
        }

        .form-subheader {
          width: 100%;
          border-bottom: 3px solid ezgl-color('foreground', 'darker');
        }

        .user_time_zone {
          margin: 0;
        }

        &.form-actions {
          margin-top: 48px;

          p {
            color: ezgl-color('accent', 'base');
            width: 75%;
            text-align: left;
            padding-left: 36px;
            margin: 0;

            a {
              color: ezgl-color('accent', 'base');
              text-decoration: underline;
            }
          }
        }
      }
    }

    .onboarding__bottom-text p {
      color: ezgl-color('accent', 'base');
      font-size: 12px;
      padding-bottom: 36px;
      text-align: center;

      a {
        color: ezgl-color('primary', 'dark');

        &:hover {
          color: ezgl-color('primary', 'light');
        }
      }
    }

    &.registration {
      display: flex;
      position: relative;
      width: 100%;
      max-width: 960px;
      margin: 36px auto;
  
      .onboarding__panel-side {
        display: flex;
        background: ezgl-color('primary', 'base');
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 3px 0 0 3px;
        width: 33%;
        
        .ezgl-icon {
          position: absolute;
          height: 30px;
          top: 24px;
          left: 24px;
        }
  
        .panel-side-text {
          color: ezgl-color('background', 'light');
          text-align: center;

          .panel-title {
            font-weight: 600;
          }
  
          .panel-subtitle {
            font-weight: 100;

            a {
              color: ezgl-color('background', 'light');
              text-decoration: underline;
            }
          }
        }

        &.white {
          background: ezgl-color('background', 'light');
          border-right: 2px solid ezgl-color('background', 'base');
          justify-content: start;
          align-items: start;
          padding: 24px;
          
          .panel-side-text {
            text-align: left;

            .nav-link {
              color: ezgl-color('accent', 'base');

              &.active {
                color: ezgl-color('foreground', 'base');
                font-weight: 600;
              }
            }
          }

          .btn {
            position: absolute;
            bottom: 20px;
          }
        }
      }

      .panel-user {
        position: relative;

        .user_handicap_index {
          width: 150px;
          float: right;
        }

        .user_postal_code {
          width: 300px;
        }

        .form-actions {
          position: absolute;
          border-top: 2px solid ezgl-color('background', 'base');
          padding: 20px;
          right: 0;
          bottom: 0;
          width: 100%;
          text-align: right;

          .form-flex-right {
            width: 100%;
          }
        }
      }
  
      .panel-default {
        width: 77%;
      }
    }

    .tab-pane {
      .panel-heading {
        width: 100%;

        h3 {
          text-align: left;
        }
      }

      form {
        width: 100%;
      }
    }

    &.user-account-edit {
      min-height: 550px;

      #v-my-account {
        .flex-wrap {
          flex-wrap: wrap;

          h4, h6 {
            width: 100%;
          }

          h6 {
            font-weight: 400;
          }
        }

        .credit-card {
          span {
            width: 100%;
            font-weight: bold;
            font-size: 16px;
          }

          .credit-card_cc-last-four {
            text-align: center;
          }

          .credit-card_change {
            text-align: right;
          }
        }

        .past-subscription {
          display: flex;
          width: 100%;

          span {
            width: 100%;
            font-weight: bold;
            font-size: 16px;
          }

          .past-subscription_golfer-count {
            text-align: center;
          }

          .past-subscription_amount {
            text-align: right;
          }
        }
      }
    }
  }
}