<p><%= I18n.t("devise.mailer.invitation_instructions.hello", name: @resource.first_name + " " + @resource.last_name) %></p>

<p><%= I18n.t("devise.mailer.invitation_instructions.someone_invited_you", league_names: @resource.league_names_string) %></p>

<p><%= link_to I18n.t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p><%= I18n.t("devise.mailer.invitation_instructions.ignore").html_safe %></p>