<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= current_user.selected_league.name %></h3>
      </div>
      <% if has_paid_dues == false -%>
      <table class="table">
        <tbody>
          <tr>
            <td><em>Your annual league dues are unpaid. Please pay them now to remain in good standing.</em></td>
            <td><button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#PayModal">Pay Now</button></td>
          </tr>
        </tbody>
      </table>
      <% end -%>
    </div>
  </div>
</div>