<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= current_user.selected_league.name %></h3>
      </div>
      <% if Payment.balance_for_user(current_user) > 0 -%>
      <div class="panel-body">
        <p><em>Your current league balance is <%= number_to_currency(Payment.balance_for_user(current_user)) %>. You can use balances to pay league dues and tournament fees.</em></p>
      </div>
      <% end -%>
      <% if has_paid_dues == false -%>
      <table class="table">
        <tbody>
          <tr>
            <td><em>Your annual league dues are unpaid. Please pay them now to remain in good standing.</em></td>
            <td><%= link_to "Pay Now", new_play_payment_path(:payment_type => "league_dues", :league_id => current_user.selected_league.id), :class => 'btn btn-primary' %></td>
          </tr>
        </tbody>
      </table>
      <% end -%>
    </div>
  </div>
</div>