<table class="table table-striped">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>Points</th>
      <th>Payouts</th>
    </tr>
  </thead>
  <tbody>
  <% rankings.each do |group| %>
    <tr>
      <td colspan="5"><strong><%= group.name %></strong></td>
    </tr>
    <% group.displayable_league_season_rankings.each do |ranking| %>
      <% cache [ranking] do %>
        <%= render partial: 'rankings', locals: { ranking: ranking } %>
      <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>