<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
      <th>When</th>
      <% if is_current == true -%>
      <th>Scorecard</th>
      <th>Score</th>
      <% elsif is_previous == true -%>
      <th>Scorecard</th>
      <th>Score</th>
      <th>Points</th>
      <% else -%>
      <th>Register</th>
      <% end -%>
		</tr>
	</thead>
  <tbody>
    <% tournaments.each do |tournament| %>
      <% cache [tournament, current_user] do %>
        <%= render partial: 'play/dashboard/tournament', locals: { tournament: tournament, is_current: is_current, is_previous: is_previous } %>
      <% end %>
    <% end %>
  </tbody>
</table>
