<ol class="breadcrumb">
  <li><%= link_to "Leagues", leagues_path %></li>
  <li><%= link_to @league_season.name, league_league_seasons_path(@league, @league_season) %></li>
  <li class="active">Create Scoring Group</li>
</ol>

<%= render 'form' %>