<ol class="breadcrumb">
  <li><%= link_to "Tournaments", league_tournaments_path(current_user.selected_league) %></li>
  <li><%= link_to @tournament.name, edit_league_tournament_path(current_user.selected_league, @tournament) %></li>
  <li><%= link_to "Flight #{@flight.flight_number}", league_tournament_flights_path(current_user.selected_league, @tournament, @flight) %></li>
  <li class="active">New Payout</li>
</ol>

<%= render 'form' %>