<% if current_user.is_super_user %>
  <div class="row">
    <%= render partial: 'static_table' %>
  </div>
<% end %>

<% unless @past_tournaments.blank? -%>
  <div class="row">
    <%= render partial: 'tournament_table', locals: {tournaments: @past_tournaments} %>
  </div>
<% end -%>

<%= link_to_prev_page @past_tournaments, '← Previous Page', class: 'btn btn-default' %>
<%= link_to_next_page @past_tournaments, 'Next Page →', class: 'btn btn-default' %>
